.root {
  @apply px-6 pb-10 relative w-full h-full select-none grid  grid-cols-4 gap-4 lg:h-[559px];
  overflow: hidden;
}

.slider {
  @apply relative h-full transition-opacity duration-150;
  opacity: 0;
}

.slider.show {
  opacity: 1;
  @apply lg:h-[559px];
}

.thumb {
  @apply overflow-y-auto inline-block cursor-pointer h-full;
}

.thumb.selected {
  @apply bg-white;
}

.thumb img {
  @apply w-full lg:w-[394px] lg:h-[128px] object-cover;
}
.control {
  @apply flex flex-row z-30 shadow-xl text-2xl;
}
.leftControl {
  @apply absolute left-2 top-1/2  transform  -translate-y-1/2 text-[#161616] w-10 h-10 hidden md:flex justify-center items-center bg-white rounded-full;
}

.rightControl {
  @apply absolute right-2 top-1/2  transform  -translate-y-1/2 text-[#161616]  w-10 h-10 hidden md:flex justify-center items-center bg-white rounded-full;
  transition: background-color 0.2s ease;
}

.leftControl:hover,
.rightControl:hover {
  @apply transition-all duration-300 hover:opacity-70;
}

.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.rightControl {
  @apply border-l border-accent-0;
}

.leftControl {
  margin-right: -1px;
}
.album {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  height: 125px;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.album::-webkit-scrollbar {
  display: none;
}

.leftControlMobile {
  @apply absolute left-2 top-full transform -translate-y-6 translate-x-2 w-10 h-10 flex md:hidden justify-center items-center;
}

.rightControlMobile {
  @apply absolute right-2 top-full transform -translate-y-6 -translate-x-2 w-10 h-10 flex md:hidden justify-center items-center;
}

.arrowSize {
  width: 3rem;
  height: 1rem;
}

.arrowDisabled {
  fill: #c9c9c9;
}

@screen md {
  .thumb:hover {
    transform: scale(1.02);
  }

  .album {
    height: 182px;
  }
  .thumb {
    width: 128px;
  }
}
