.fit {
  min-height: calc(100vh - 88px);
}
.image-gallery-slide-wrapper.right {
  width: 80% !important;
}
.image-gallery-thumbnails {
  width: 194px !important;
}
.image-gallery-thumbnails-wrapper.right
  .image-gallery-thumbnails
  .image-gallery-thumbnail {
  width: 194px !important;
}
