.root {
  @apply relative h-full flex flex-col;
}

.header {
  @apply sticky top-0 pl-4 py-4 pr-6
  flex items-center justify-between 
  bg-accent-0 box-border w-full z-10;
  min-height: 66px;
}

.usernav {
  @apply flex items-center justify-end flex-1 space-x-8;
}

.container {
  @apply flex flex-col flex-1 box-border w-3/4 ml-[25%] bg-white;
}

.logo {
  @apply cursor-pointer  transform duration-100 ease-in-out;
  max-width: 4.5rem;
}

.mobileLanguageSwitch {
  position: absolute;
  top: calc(100% - 50px);
  z-index: 9999;
}

@screen lg {
  .header {
    min-height: 74px;
  }
}
