.root {
  @apply relative grid items-start gap-1 grid-cols-1 overflow-x-hidden mt-[2rem];
  min-height: auto;
}

.main {
  @apply relative px-0 pb-0 box-border  flex flex-col col-span-1 min-h-[180px] md:min-h-[500px];
}

.sidebar {
  @apply flex flex-col col-span-1 mx-auto max-w-8xl w-full h-full;
}

.sliderContainer {
  @apply flex items-center justify-center overflow-x-hidden;
}

.imageContainer {
  @apply text-center h-full relative;
}

.imageContainer > span {
  height: 100% !important;
}

.sliderContainer .img {
  @apply w-full  object-cover;
}

.button {
  width: 100%;
}

.wishlistButton {
  @apply absolute z-30 top-0 right-0;
}

.relatedProductsGrid {
  @apply grid grid-cols-2 py-2 gap-2 md:grid-cols-4 md:gap-7;
}

.arrowSize {
  width: 100%;
  height: 1rem;
}

.arrowDisabled {
  fill: #c9c9c9;
}

@screen lg {
  .root {
    @apply grid-cols-12;
  }

  .main {
    @apply mx-0 col-span-7;
  }

  .sidebar {
    @apply col-span-5;
  }

  .imageContainer {
    max-height: 600px;
  }
  .fullsizePhoto {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);

    & > div {
      width: 90%;
      height: 100%;
      background-position: center;
      margin: 0 auto;
    }
  }
}
